{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address class="text-dark">
    <h6 class="text-muted">Renatismso</h6>
    Renatismos S. A. <br />
    Rua Stark, 756<br />
    <abbr title="Telefone">Tel:</abbr>
    (11)c 99705-8356.
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@renatismos.com.br">suporte@renatismos.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@renatismos.com.br">marketing@renatismos.com.br/a>
</address>

{% endblock %}
