{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address class="text-dark">
    <h6 class="text-muted">Bruno Flaks</h6><br />
    Universe's End Codes<br />
    Rua Top Arnaldo, 1810<br />
    <abbr title="Telefone">Tel:</abbr>
    948151642.
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">bruno.flaks@aluno.faculdadeimpacta.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">bruno.flaks@aluno.faculdadeimpacta.com.br</a>
</address>

{% endblock %}
